.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1 1 0;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.grow {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

@media (min-width: 1024px) {
  .lg\:flex-row {
    flex-direction: row !important;
  }

  .lg\:flex {
    display: flex !important;
  }
}
