.mb-1 {
  margin-bottom: 1rem;
}

.px-4 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1024px) {
  .lg\:.px-4 {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}
