@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Rubik&display=swap');

@import "normalize.css"; /* Normalizes CSS. */
@import "minireset.css"; /* Gives us some nice CSS defaults. */

@import "./styles/flex.css";
@import "./styles/header.css";
@import "./styles/spacing.css";
@import "./styles/typography.css";

/* Customized Vite defaults */
:root {
  font-weight: 400;
  letter-spacing: 0.035em;

  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Custom */
body {
  color: #1A1A1A;
  background-color: white;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  padding: 8px 16px;

  font-size: 1.5rem;
  font-weight: 700;

  background-color: unset;
  color: #1A1A1A;
  border: 2.5px solid rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

button:hover {
  background-color: #1A1A1A;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  
  min-height: 100vh;
  position: relative;
}

hr {
  padding: 1px;
  width: 100%;
  background-color: #1A1A1A;
}

.is-128x128 {
  width: 128px;
  height: 128px
}

.is-196x196 {
  width: 196px;
  height: 196px
}

.image img {
  width: auto;
  height: 100%;
}

.hidden {
  display: none;
}

.stretch {
  width: 100%
}

button.blue {
  background-color: #0099FF;
  border: none;
  color: white;
  padding: 8px;
}

figure.placeholder {
  border-radius: 8px;
  background-image: url(/wave_3.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-position-x: right;
}

/* #0099FF */
