@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Rubik&display=swap');

/* Vite defaults */
:root {
  font-weight: 400;
  letter-spacing: 0.035em;

  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Custom */
h1, h2, h3, h4, h5 {
  font-family: 'Fascinate', cursive;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #1A1A1A;
  background-color: white;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  padding: 8px 16px;

  font-size: 1.5rem;
  font-weight: 700;

  background-color: unset;
  color: #1A1A1A;
  border: 2.5px solid rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

button:hover {
  background-color: #1A1A1A;
  color: white;
}

.mb-1 {
  margin-bottom: 1rem;
}

.App {
  display: flex;
  flex-direction: column;
  
  min-height: 100vh;
  position: relative;
}

.surfboard-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.surfboard {
  position: fixed;
  min-height: 799px;
  min-width: 414px;
  padding: 2rem;
  z-index: -1;

  /* https://stackoverflow.com/a/42121193 */
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
}

.wave {
  width: 100%;
  min-width: 1000px;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%
}

.menu {
  height: 100vh;
  position: absolute;
  width: 414px;
  margin: 0 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.font-big {
  font-size: 5rem;
}

.font-subtitle {
  font-size: 2rem;
}

.font-light {
  font-weight: 300;
}

.font-semibold {
  font-weight: 600;
}

.font-prose {
  line-height: 125%;
}

.centered {
  text-align: center;;
}

h1 {
  font-size: 5rem;
}

hr {
  padding: 1px;
  width: 100%;
  background-color: #1A1A1A;
}

.grow {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.flex-end {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding-bottom: 48px;

  border-bottom: 2.5px solid rgba(0, 0, 0, 0.9);
}

.flex-start {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 48px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.stretch {
  width: 100%
}

.gap-0\.5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.px-4 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.flex-1 {
  flex: 1 1 0;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.justify-content-center {
  justify-content: center;
}

header h1 {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 4rem;
}

header a {
  color: inherit !important;
}

.is-128x128 {
  width: 128px;
  height: 128px
}

.is-196x196 {
  width: 196px;
  height: 196px
}

.image img {
  width: auto;
  height: 100%;
}

.hidden {
  display: none;
}

button.blue {
  background-color: #0099FF;
  border: none;
  color: white;
  padding: 8px;
}

figure.placeholder {
  border-radius: 8px;
  background-image: url(/wave_3.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-position-x: right;
}

@media (min-width: 1024px) {
  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:.px-4 {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* #0099FF */
